@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Rowdies", sans-serif; /* Adicionando uma fonte padrão */
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.nick label {
  font-family: "Protest Guerrilla", system-ui;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  background: url("img/logofechada.jpeg") no-repeat center;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  margin: 20px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

.nick input[type="text"] {
  padding: 0.5rem;
  width: 100%;
  max-width: 300px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

h1 {
  font-family: "Protest Guerrilla", system-ui;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  background: url("img/logofechada.jpeg") no-repeat center;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  margin: 20px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

/* --EFEITO DE TEXTO */
h2 {
  margin: 20px;
  font-family: "Protest Guerrilla", system-ui;
  font-weight: 800;
  font-size: 40px;
  padding: 5px 10px;
  background: url("img/logofechada.jpeg") no-repeat center;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

h3 {
  font-family: "Protest Guerrilla", system-ui;
  font-weight: 800;
  padding: 5px 10px;
  background: url("img/logofechada.jpeg") no-repeat center;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

.nick {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  backdrop-filter: blur(10px);
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  height: auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
}

input[type="text"],
select {
  width: 100%; /* Ajuste para ocupar 100% do espaço disponível */
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid #000000;
  border-radius: 4px;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #db3a12;
  box-shadow: 0 0 5px #db3a12;
}

section {
  padding: 20px;
  position: relative;
}

section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.section3::after,
.section4::after {
  content: none;
}

.section8 h2,
.section6 h2 {
  font-size: 35px;
  text-align: center;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.radio-group label {
  cursor: pointer;
}

.radio-group input {
  margin-right: 0.5rem;
}

/* CONFIG DAS MEDALHAS */
.rank-options::after {
  content: none;
}

.rank-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  gap: 2rem;
}

.rank-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rank-option img {
  width: 24px; /* Ajuste o tamanho conforme necessário */
  height: 24px;
  margin-right: 0.5rem;
}

.rank-option label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sectionarea {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  max-width: 600px;
  margin: 20px auto;
}

.sectionarea::after {
  content: none;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
  transition: border-color 0.3s;
}

textarea:focus {
  outline: none;
  border-color: #db3a12;
  box-shadow: 0 0 5px #db3a12;
}

button {
  font-weight: 900;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  margin: 15px;
  transition: 0.2s;
  text-decoration: none;
}

.button-text {
  background: url("img/logofechada.jpeg") no-repeat center;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
  display: inline-block;
}

button:hover {
  transform: scale(1.05);
}

body:after {
  content: "";
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(120deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
  z-index: -1;
}

/* Responsividade */
@media (max-width: 768px) {
  h1 {
    font-size: 36px; 
  }

  form{
    width: 90%;
  }

  h2 {
    font-size: 28px; 
  }

  .nick input[type="text"],
  input[type="text"],
  select {
    width: 100%; 
  }

  button {
    font-size: 18px; 
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px; 
  }

  form{
    width: 90%;
  }

  h2 {
    font-size: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
  }

  .nick input[type="text"],
  input[type="text"],
  select {
    padding: 0.3rem; /* Reduzir o padding em telas menores */
  }

  button {
    font-size: 16px; /* Ajuste o tamanho do botão para telas menores */
    padding: 8px 10px; /* Ajustar o padding do botão */
  }
}
